.product-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.product-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 1rem 5rem;
}

.product-card {
    background: rgb(218, 255, 246);
    border: 5px solid rgb(2, 190, 187);
    /* border-radius: 5%; */
    padding: 5rem 1rem;
}

/* .product-card img {
    width: 100%;
} */

.product-title {
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    padding: 1rem 0;
}

.product-details p {
    /* padding-bottom: 1rem; */
    color: black;
    font-size: 1.1rem;
    /* text-align: justify; */
    padding: 1rem 3rem 3rem 3rem;
}

/* .product-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
} */

@media screen and (max-width:740px) {
    .product-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}